:host {
  display: block;
}

.screen-area {
  position: relative;
  width: 800px;
  height: 480px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.device {
  position: absolute;
}

.loading {
  position: absolute;
  left: 18px;
  top: 18px;
  font-size: 14px;
  color: #333;
}
