<section class="screen-area" [style.background-color]="screenBackground()">
  @if (!screenLoaded()) {
    <div class="loading">Loading Screens.json ...</div>
  }

  @for (item of boxItems(); track item.name) {
    <div
      class="device"
      [style.left.px]="item.left"
      [style.top.px]="item.top"
      [style.background-color]="item.backgroundColor"
    >
      @switch (item.type) {
        @case ('MOGotoConfig') {
          <app-mogoto-config
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-mogoto-config>
        }
        @case ('MOGotoScreen') {
          <app-mogoto-screen
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-mogoto-screen>
        }
        @case ('MONumericEntry') {
          <app-monumeric-entry
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-monumeric-entry>
        }
        @case ('MOMomentaryPushButton') {
          <app-momentary-push-button
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-momentary-push-button>
        }
        @case ('MOListIndicator') {
          <app-molist-indicator
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-molist-indicator>
        }
        @default {
          <app-mogoto-config
            [width]="item.width"
            [height]="item.height"
            [fontSize]="item.fontSize"
            [borderColor]="item.borderColor"
            [borderWidth]="item.borderWidth"
            [sections]="item.sections"
          ></app-mogoto-config>
        }
      }
    </div>
  }
</section>