<div
  class="box"
  [class.row]="direction === 'row'"
  [style.width.px]="width"
  [style.height.px]="height"
  [style.border-color]="borderColor"
  [style.border-width.px]="borderWidth"
>
  @for (section of renderedSections; track $index) {
    <div
      class="section"
      [style.background-color]="section.bgColor"
      [style.color]="section.color ?? textColor"
      [style.flex]="section.flex ?? 1"
      [style.font-size.px]="fontSize"
    >
      {{ section.text }}
    </div>
  }
</div>
